# Ignore everything by default
**

# Allow hidden conf files
!.gitignore
!.gitattributes
!.gitea/
!.gitea/issue_template/
!.gitea/issue_template/bug.md
!.gitea/issue_template/features.md
!.gitea/issue_template/note.md
!.gitea/workflows/
!.gitea/workflows/push.yaml
!.gitea/workflows/release.yaml
!.gitea/PULL_REQUEST_TEMPLATE.md
!.gitea/pull_request_template.md


!**/
**/.*/
!**/*.java
!**/*.py
!**/*.ipynb
!**/*.scala
!**/*.xml
!**/*.json
!**/*.sh
!**/*.sql
!**/*.parquet
!**/*.avsc
!**/*.txt
!**/*.jpg
!**/*.r
!**/Makefile
!**/CMakeLists.txt
!**/*.md

